<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="telephone=no" name="format-detection">
    <title>聊天</title>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
  </head>
  <body>
    
    <div class="chat">
      <p class='time'>
        <span>21:18</span>
      </p>
      <div class="message">
        <div class='name'>
            张国荣词 : 林夕前我会使你快乐在却最多叫你寂寞吻下去像皱纸轻薄开了都不觉这苦心已有预备时有块玻璃破碎堕地强下去我会憎你差那一口气信眼泪能令失乐的你爱下去收的覆水将感
        </div>
        <div class="content">
            作曲 : 张国荣词 : 林夕前我会使你快乐在却最多叫你寂寞吻下去像皱纸轻薄开了都不觉这苦心已有预备时有块玻璃破碎堕地强下去我会憎你差那一口气信眼泪能令失乐的你爱下去收的覆水将感情慢慢荡开去果你太累及时地道别没有罪手来空手去去这苦心已有预备时有块玻璃破碎堕地强下去我会憎你差那一口气
        </div>
      </div>

      <div class="message">
        <div class='name'>
            bob
        </div>
        <div class="content">
            Hello，
        </div>
      </div>

      <div class="message self">
        <div class='name'>
            b
        </div>
        <div class="content">
            H
        </div>
      </div>

      <div class="message self">
        <div class='name'>
            张国荣词 : 林夕前我会使你快乐在却最多叫你寂寞吻下去像皱纸轻薄开了都不觉这苦心已有预备时有块玻璃破碎堕地强下去我会憎你差那一口气信眼泪能令失乐的你爱下去收的覆水将感
        </div>
        <div class="content">
            作曲 : 张国荣词 : 林夕前我会使你快乐在却最多叫你寂寞吻下去像皱纸轻薄开了都不觉这苦心已有预备时有块玻璃破碎堕地强下去我会憎你差那一口气信眼泪能令失乐的你爱下去收的覆水将感情慢慢荡开去果你太累及时地道别没有罪手来空手去去这苦心已有预备时有块玻璃破碎堕地强下去我会憎你差那一口气
        </div>
      </div>

      
    </div>

    <script src="./js/jquery.min.js"></script>
    <script>
      $(document).on('click', function(){
        console.log('click');
      })
    </script>

  </body>
</html>