@charset "UTF-8";


.index-page{
  .banner{
    border:1px solid #dddddd; 
    border-radius:.25rem; 
    margin-top:1rem;
    margin-left: 0;
    margin-right: 0;

    .img-wrap{
      padding-left:0;
      img{
        width:100%
      }
    }
    
    .banner-right{
        width:355px; 
        padding-top:24px;
        .yzm-con{
          div[class^=col]{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            input{
              width: 3.5rem;
            }
            .right{
              .yzm{
                height: 1.5rem;
              }
              .change-yzm{
                width: 5rem;
                font-size: 12px;
              }
            }           
          }     
        }
      }
  }
  /* 咨询*/
  .net-service{
      padding-left: 0;
      padding-right:0;     
      
  }
}

@media (max-width: 768px){

  .index-page{
    .img-wrap{
      padding-right: 0;
    }
    .banner{
      .banner-right{
        width: 100%;
        padding-top: 0;
        .form-group{
          margin-bottom: 0;
        }
        .yzm-con{
          padding-top: 24px;
            padding-bottom: 24px;
            div[class^=col]{
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              input{
                width: 3.5rem;
              }
              .right{
                .yzm{
                  height: 1.5rem;
                }
                .change-yzm{
                  width: 5rem;
                  font-size: 12px;
                }
              }             
            }       
        }
      }
    }
    .net-service{
      
    }
    
  }


}