

.table-wrap{
  padding: 0;
  ul.list{
  padding-left: 0;      
    .item{
      border-bottom: 1px solid #ddd;      
      ul{
        padding-left: 0;        
        li{
          padding: 8px;
          display: inline-block;
          float:left;          
        }
        li:nth-child(2n){          
          visibility: hidden;
          width: 2px !important;
          padding: 0;
          line-height: 38px;
        }           
      }      
    }
    .thead{
      background-color: $th-bgc;
      li:nth-child(2n){          
        visibility: visible !important;
        width: 2px !important;
        padding: 0;
        line-height: 38px;
      }
    }  
  }
}